/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
resources/Kirim.zip
public/laporan_peminjaman.xlsx
public/laporan_kerusakan.xlsx
app/Http/Backup Controller.zip
resources/Backup views.zip
app/Bckup Models.zip
storage/debugbar/*
